@import url(base.css);
.head{
	  width:100%;
      height:36px;
      background:#eeeeee;
     }
.headcon{
         width:1200px;
         height:36px;
		 margin-left:auto;
		 margin-right:auto;
       }
.headleft{
	      width:300px;
          height:36px;
          float:left;
         }
.h-l-one{
         width:100px;
         height:36px;
         float:left;
         position:relative;
		 }
.h-l-two{
         width:100px;
         height:36px;
         float:left;
         position:relative;
         z-index: 9999;
		 }
.h-l-two:hover{
	  background:#fff;
}
.h-l-two:hover .jiantou{
	 color:#e5004f; 
	transition:all .2s linear;
	transform:rotate(180deg);
}
.h-l-three{
         width:100px;
         height:36px;
         float:left;
         position:relative;
		 }
.h-l-three:hover{
	  background:#fff;
}
.w-he{
    width:120px;
    height:120px;	
	background:#fff;
    position:absolute;
    left:0;
    top:36px;
    z-index:99;
    display:none;
}
.wechat{
    margin-top:10px;
	margin-left:10px;
}
.s-he{
    width:154px;
    height:150px;
	background:#fff;
    position:absolute;
    left:0;
    top:36px;
    z-Index:9999;
    display:none;
}
.appphone{
     margin-top:5px;
	 margin-left:10px;
}
#yintai{vertical-align:middle;}
.ytsy{      
	  line-height:36px;
      font-size:12px;
	  margin-left:5px;
	  }
.ytsy:hover{color:#e5004f;}
#biankuang{color:#cccccc;
          margin-left:5px;}
#jiantou{color:#696365;}


.headright{
	       width:502px;
           height:100%;           
		   float:right;
		  }
.h-r-one{
       width:120px;
	   height:100%;
	   float:left;       
}
.h-r-two{
       width:35px;
	   height:100%;
	   float:left;      
}
.h-r-three{
       width:35px;
	   height:100%;
	   float:left;       
	   margin-left:12px
}
.h-r-four{
       width:75px;
	   height:100%;
	   float:left;	   
}
.h-r-five{
       width:88px;
	   height:100%;
	   float:left;
	   position:relative;
}

.h-r-five:hover{
	  background:#fff;
	  border-left:1px solid #ccc;
	  border-right:1px solid #ccc;
}
.wd-he{
    width:88px;
    height:180px;	
	background:#fff;
    position:absolute;
    left:-1px;
    top:36px;
    z-Index:9999;
    display:none;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}
.wd-hea{
    width:88px;
    height:29px;
	border-bottom:1px solid #ccc;
    line-height:29px;
}

.wd-he a{
    font-size:12px;	
	color:#666666;
	margin-left:20px;
}
.wd-he a:hover{
    color:#e5004f;
    border-bottom:1px solid #e5004f;
}
.h-r-six{
       width:135px;
	   height:100%;
	   float:left;	   
}
.head a{
       color:#666;
	   }
/*banner*/
.banner{
	    width:100%;
        height:80px;
        background:#eeeeee;
       }
#banner{
	    width:100%;
        height:80px;
        }
/*shousuo*/
.shousuo{
	     width:1200px;   
         height:156px;
         margin-left:auto;
         margin-right:auto;
		 }
#yintai2016{float:left;}
#aimu{float:left;
margin-left:10px;}
.sright{
	    width:760px;   
        height:109px;
		float:right;
		}
.ssuo{
	     width:448px;   
         height:30px;
		 border:2px solid #323333;
		 background:white;
		 float:left;
		 margin-top:36px;
		 color:#888888;
		 font-size:12px;
		 line-height:28px;
		 }
#ssx{
	 width:46px;   
     height:34px;
	 margin-top:36px;
	 float:left;
	}
.gouwu{	 
	     width:160px;   
	     height:34px;
		 margin-top:36px;
		 background:#323333;
		 margin-left:10px;
		 float:left;
		}
#gouwudai{float:left;}
#gwd{
	 line-height:34px;
     font-size:12px;
     color:white;
	 margin-left:10px;
	}
#lin{
	 line-height:34px;
     font-size:12px;
     color:#e50048;
	 margin-left:5px;
	}
.sheshangxin{
	         width:280px;   
             height:34px;	        
	         float:left;	 
	        }
#sheshang{
	      font-size:12px;
          color:#e5004f;
          }

#ELLE{
	  font-size:12px;
      color:#888888;
      margin-left:10px;
      }
#ELLE:hover{color:#e5004f;
text-decoration:underline;}
.quan{
	         width:211px;   
             height:40px;
	         background:#222222;
	         float:left;
			 font-size:14px;
             color:white;
			 text-align:center;
			 line-height:40px;
			 margin-top:7px;
			}
.ytbh{
	         width:989px;   
             height:40px;	         
	         float:left;			 
			 margin-top:7px;
			}
#ytbhl a{
	         width:90px;   
             height:37px;	         
	         float:left;
			 }
#left{
	         text-align:center;
			 line-height:40px;
			 font-size:14px; 
			 color:#323333; 
			 margin-left:10px;
			 }
#ytbhl a:hover{color:#e5004f;
border-bottom:3px solid #e5004f;}
#ytbhr{
	         width:230px;   
             height:40px;	         
	         float:right;
			 }
#right{
	        text-align:center;
			line-height:40px;
			font-size:12px; 
			color:#323333; 			 
			 }
#right:hover{color:#e5004f;}

/*大图*/
.datu{
	  width:100%;   
      height:472px;
	  border-top:#2d2e2e;
	 }
#datuone{
	     float:left;
         width:75px;
         height:100%;
        }			 

.quanbu{
	         width:211px;   
             height:472px;
	         background:#333333;
	         float:left;
			 position:relative;
			 _display:inline;
			 }
.quanbux{
	    width:100%;   
        height:46.2px;	    
	    border-top:1px solid #515151;
		_position:relative;
		_line-height:45.2px;
       }
.quanbux:hover{background:#e5004f;}
.heone{
	         width:495px;   
             height:432.5px;
	         background:#333333;
	         left:211px;
			 top:0;
			 position:absolute;
			 display:none;
			 z-index:9999;
			}
.heleft{
       width:295px;   
       height:422.5px;
	   background:#444;
	   float:left;
	   padding: 8px 20px 0;
}
.heleftlist{
      width:295px;   
      height:41.5px;
	  padding: 8px 0 7px 0;
	  border-bottom: 1px dotted #666;
}
.heleftlist2{
      width:295px;   
      height:62.5px;
	  padding: 8px 0 7px 0;
	  border-bottom: 1px dotted #666;
	 
}
.jialist2{
      height:83.5px;
}
.nz{
     display:block;
     width:295px;
	 height:20.5px;
	 font-size:14px;
	 color:#fff;
}

.liszi{
     width:295px;
	 height:20.5px;
	 padding: 8px 0 7px 0;
     border-bottom: 1px dotted #666;
	
}
.liszi2{
     width:295px;
	 height:41px;
	 padding: 8px 0 7px 0;
     border-bottom: 1px dotted #666;
	 
}
.nzx{width:295px;
	 height:21px;
	 line-height:21px;
	 
}
.nzxx{
     font-size:12px;
	 color:#fff;
	 margin-right:8px;
	 float:left;
}
.jiase{
      color: #e5004f;
}
.quxian{
     border:0;
}
.heright{
       width:145px;   
       height:416.5px;
	   background:#222222;
	   float:left;
	   padding: 15px 0 0 15px;
}
.jiagao{
    height:437.5px;
}
.jiagao2{
    height:430.5px;
}
.jiagao3{
    height:463.5px;
}
.jiagao4{
    height:456.5px;
}
.pinpai{
        display:block;
        width: 130px;
		height: 26px;
		margin-bottom: 5px;
		text-align: left;
		font-size: 14px;
		color: #fff;
		border-bottom: 1px dotted #666;
}
.pinpaix{
        width: 145px;
		height: 24px;
		line-height:21px;		
}
.pinpaixz{
        font-size: 12px;
		color: #fff;
        margin-right:8px;
		float:left;
		}
.heone a:hover{
        color: #e5004f;
}
#mingpin{
	     vertical-align:middle;
         margin-left:15px;
        }
#mp{
	font-size:14px; 
    color:#ffffff;
	margin-right:5px;
	_line-height:45.2px;
   }
#bk{color:#cccccc; }
#qsx{
	 font-size:12px; 
     color:#ffffff;
	 text-align:center;
	 line-height:46px;
	 margin-left:5px; 
	}
#qsx:hover{text-decoration:underline;}
#jiant{
	   color:#cccccc;
       float:right;
	   margin-right:15px;
	   text-align:center;
	   line-height:46px;
	   _position:absolute;
	   _display:block;
	  }
#zdx{
     width:989px;
     height:100%;
	 position:relative;
	 float:left;
	 background:red;
	 overflow: hidden;
	 }
.zgnv{
	  width:201px;
      height:100%;
	  position:absolute;
	  left:788px;
	  top:0;
	  z-index: 12;
	  }
.zgnv:hover{margin-left:10px;}
.tu{
	width:100%;
    height:100%;
	position:absolute;
	left:989px;
	top:0;
}
#zdx .first{
	left:0;
	z-index: 10;
}
.circle{
	width:120px;
	height:15px;
	position:absolute;
	bottom:20px;
	left:0;
	right:0;
	margin-right: auto;
	margin-left: auto; 
	z-index: 15;
}
.lis{
	width:15px;
	height:100%;
	margin-left: 15px;
	border-radius: 50%;
	background:#fff;
	float: left;
	text-align: center;
	line-height:15px;
	color:#666;
	cursor: pointer;

}
.circle .first{
	background:red;
}

.left{
	width:35px;
	height:70px;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	background:rgba(0,0,0,0.3); 
	z-index: 200;
	line-height: 70px;
	text-align: center;
	cursor: pointer;
}
.right{
	width:35px;
	height:70px;
	position: absolute;
    background:rgba(0,0,0,0.3);
    right:0;
    top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	z-index: 200;
	line-height: 70px;
	text-align: center;
	cursor: pointer;
}
/*超值特卖*/	
.chaozhi{
	         width:1200px;   
             height:465px;	         
			 margin-left:auto;
             margin-right:auto;
			 
         }
.cztm{
      width:910px;   
      height:355px;
	 
	  float:left;
}
.cztmtop{
      width:910px;   
      height:85px;
	 
	  position:relative;
}
.chzdiv{
        width:303px;   
        height:85px;
		float:left;
		position: relative;
		
		
}
.dasan{
	border-bottom: 5px solid #e5004f;
	border-left: 5px solid #fff;
	border-right: 5px solid #fff;
	width: 0;
	height: 0;
	bottom: 5px;
	left: 145px;
	position: absolute;
	display: none; 
}
.clist{
        display:block;
	    width:303px;   
        height:30px;
		padding-top:50px;
        border-bottom:5px solid #333333; 
	    float:left;
		font-size:14px; 
        color:#000000;
        text-align:center;
        line-height:30px;
     
	   }


.clist:hover{
                font-weight:bold;
                border-bottom:5px solid #e5004f;
			    }

.duanqundiv{
          width:910px;   
          height:270px;
		  position:absolute;
		  left:0;
		  top:85px;
		 
}
.duanqundiv2{
	left:-303px;
}
.duanqundiv3{
	left:-606px;
}
.duanqun{
	      width:218px;   
          height:258px;
	      margin-top:10px;
		  float:left;
		  margin-right:10px;
		  border:1px solid #eeeeee;
		  background:#fff;
		  }
.duanqun2{
          margin-right:0;
          }
.w0w{
     position:relative;
      }
.bktop{
          width:218px;   
          height:210px;		 
		  position:relative;
}
.bktop img{
          left:0;
		  right:0;
		  margin-left:auto;
		  margin-right:auto;
		  position:absolute;
}
.bkcen{
          width:208px;   
          height:20px;
		  padding-left:10px;
		 
}

.cenone{
          line-height:20px;
		  text-decoration: underline;
		  font-size:12px;
		  color:#666;
}
.centwo{    
          line-height:20px;
		  font-size:14px;
		  color: #e5004f;
		  margin-right:10px;
		  
}
.centhree{    
          line-height:20px;
		  font-size:12px;
		  color: #888;
		  
		  
}
.duanqun img:hover{opacity:0.8;}
#cztmright{
	       width:270px;   
           height:355px;	      
		   float:right;
		  }
#maiyi{margin-top:55px;}
#xiatu{
	     width:100%;   
         height:110px;	    
		 float:left;
		    }
#wapin{
	   width:100%;   
       height:85px;
	   margin-top:25px;    
	   }
/*Man*/
.Man{
	         width:1200px;   
             height:662px;
	         margin-left:auto;
             margin-right:auto;
            
}
.ytaibh{
	         width:1200px;   
             height:83px;
	         margin-left:auto;
             margin-right:auto;
             
}
#yin{
	 color:#353535;
     font-size:20px; 
     margin-top:40px; 
     float:left;
}
#zhuan{
	 color:#e2014e;
     font-size:20px; 
     margin-top:40px; 
     float:left;
}
#tai{
	 color:#cccccc;
     margin-left:5px;
     margin-right:5px;
     margin-top:40px; 
     float:left;
}
.speci{
	   width:80px;   
       height:28px;
	   margin-top:35px;              
       float:left;
}
#special{
	 color:#808080;
     font-size:12px;          
}
.ytshang{
	        width:1200px;   
             height:579px;
	         margin-left:auto;
             margin-right:auto;
            }
.Manleft{
	         width:363px;   
             height:100%;
	         float:left;             
             }
#man{
	 margin-top:12px; 
     float:left;
	 margin-left:12px;
	}
.Manright{
	         width:837px;   
             height:579px;
	         float:left;             
             }
.rightshang{
	         width:837px;   
             height:49px;
			 position:relative;
			 }
.shangleft{
	        width:105px;   
            height:46px;
			float:left; 			
			border-bottom:3px solid #333333;
			position: relative;
		  }
.sanjiao{
	border-bottom: 5px solid #e5004f;
	border-left: 5px solid #fff;
	border-right: 5px solid #fff;
	width: 0;
	height:0;
	bottom: 0;
	left: 50px;
	display: block;
	position: absolute;
	display: none;
}		  
.shangleft:hover{border-bottom:3px solid #e5004f;}
.shangright{
	         width:627px;   
             height:46px;
			 float:left; 			
			 border-bottom:3px solid #333333;}
#remen{
	   margin-top:24px;
       font-size:12px;
       color:#414141;
       float:left;
       margin-left:27px;
       margin-right:27px;
	   font-weight:bold; 	   
}
#benzhou{
	     margin-top:24px;
         font-size:12px;
         color:#666666;
         float:left;
         margin-left:27px;
         margin-right:27px;
}
#benzhou:hover{ 
	            font-weight:bold;
                color:#414141;}

.liangxie{
	       width:837px;   
           height:530px;	       
		   position:absolute;
		   top:49px;
		   left:0;
		   background:#fff;
		   }
.liangxie2{
	left: -105px;
}		   
.liangxie img:hover{opacity:0.8;}
#xinqiliu{
	float:left;
    margin-right:10px;
    margin-top:3px;
    }
#huixian{
	float:left;
    margin-right:10px;
    margin-top:3px;
    }
#pinzhi{ 
	float:left;
    margin-top:3px;
    }
#lee{
	float:left;
    margin-right:10px;
    margin-top:8px;
    }
#hipanda{
	 float:left;
     margin-right:10px;
     margin-top:8px;
       }
#jinzhi{float:left;
margin-top:8px;}
.bzlist{
     width:202px;   
     height:248px;	 
     border: 1px solid #eee;
     float: left;
     margin-right: 5px;
     margin-bottom: 5px;
     margin-top: 7px;
	 background:#fff;
	 
}

.bztop{
          width:202px;   
          height:200px;
		 
		  position:relative;
}
.bztop img{
          left:0;
		  right:0;
		  margin-left:auto;
		  margin-right:auto;
		  position:absolute;
}
.bzcen{
          width:198px;   
          height:20px;
		  padding-left:4px;
		 
}
.bzcenone{
          line-height:20px;
		  text-decoration: underline;
		  font-size:12px;
		  color:#666;
}
.bzcentwo{    
          line-height:20px;
		  font-size:14px;
		  color: #e5004f;
		  margin-right:30px;
		  
}
.bzcenthree{    
          line-height:20px;
		  font-size:12px;
		  color: #888;
		  text-decoration: line-through;
		  
}
/*小图*/
.xiaotu{   width:1200px;   
           height:111px;	       
		   margin-left:auto;
           margin-right:auto;
         }
#Ysd{
	 width:100%;
     margin-top:33px;
}
/*时尚名品*/
.ssmp{
	       width:1200px;   
           height:452px;
	       margin-left:auto;
           margin-right:auto;
		   _position:relative;
		   }
.ssmptop{
	       width:1200px;   
           height:82px;
	       margin-left:auto;
           margin-right:auto;
		   }
.ssmpleft{
	       width:226px;   
           height:368px;
	       float:left;
		   border:1px solid #eeeeee;}
.lefttop{ 
	       width:210px;   
           height:145px;
	       margin-left:8px;           		 
		   margin-top:15px;
		   margin-bottom:28px;
		  }
.topxiao{
	       width:65px;   
           height:32px;
	       border:1px solid #eeeeee;    		  
		   float:left;
		   text-align:center;
	       line-height:32px;
		   margin-right:3px;
		   margin-bottom:3px;
		  }
.topxiao:hover{
	background: #e5004f;
	border-color: #e5004f;
	color: #fff;
}
.topxiao a:hover{
	color: #fff;
}
#txue{
	  font-size:12px; 
      color:#666666;
	  }
.tradeBLB{
	       width:200px;   
           height:140px;
	       margin-left:14px; 
		   background:#f2f2f2;
		   border-top:1px dashed #969696;
		   }
.tradeBLBs{
	display: block;
	width: 5px;
	height: 100%;
	float:left;
	cursor: pointer;
}
.tradeBLBs1{
	margin-left: 9px;
	margin-right: 6px;
	background-image:url(../images/xjt.png);
	background-repeat: no-repeat; 
	background-position: -4px center;
	display: inline;
}
.tradeBLBs2{
	margin-left: 6px;
	background-image:url(../images/xjt.png);
	background-repeat: no-repeat;
	background-position: -32px center; 
}
.tradeBLBm{
	       width:159px;   
           height:104px;
	       float:left;
		   margin-top:11px;		  
		   position:relative;
		   overflow:hidden;
		   
		}

.tradeBLBmbox{
	       width:159px;   
           height:104px;	  
		   position:absolute;
		   left:0;
           top:0;
		}
.tradeBLBms{
	display: block;
	width: 75px;
	height: 50px;
	background: #fff;
	float: left;
	margin-top: 4px;
	font-size: 0;
}
.tradeBLBms img{
	width: 75px;
	height: 50px;
}
.tradeBLBmsL{
	margin-right: 9px;
}
#burberry{float:left; }
#salva{
	   float:left; 
       margin-left:8px;
      }
#gucci{
	  float:left;
      margin-top:5px;
      }
#arm{
	float:left;
    margin-left:8px;
    margin-top:5px;
    }
.ssmpcenter{
	       width:390px;   
           height:370px;
	       float:left;
		   margin-left:13px;
		   margin-right:13px;
		   position:relative;
		   overflow:hidden;
		   }
.shimao{
	    width:100%;
        height:100%;
	    position:absolute;
	    left:390px;
	    top:0;
		
}
.ssmpcenter .first{
	      left:0;
	      z-index: 10;
}
.circle2{
	width:60px;
	height:15px;
	position:absolute;
	bottom:20px;
	left:0;
	right:0;
	margin-right: auto;
	margin-left: auto; 
	z-index: 15;
}
.lis2{
	width:15px;
	height:100%;
	margin-left: 15px;
	border-radius: 50%;
	background:#6e6e6e;
	float: left;
	text-align: center;
	line-height:15px;
	cursor: pointer;

}
.circle2 .first{
	background:#e6185f;
}

.left2{
	width:35px;
	height:70px;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	background:rgba(0,0,0,0.3); 
	z-index: 200;
	line-height: 70px;
	text-align: center;
	cursor: pointer;
	display:none;
	
}
.right2{
	width:35px;
	height:70px;
	position: absolute;
    background:rgba(0,0,0,0.3);
    right:0;
    top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	z-index: 200;
	line-height: 70px;
	text-align: center;
	cursor: pointer;
    display:none;
	
}
.ssmpright{width:556px;   
           height:370px;
	       float:left;
		    _position:absolute;
		   }
.ssmpright img:hover{opacity:0.8;}
.yaod{
    width:270px;
	height:180px;
	float:left;
    margin-right:12px;
    border:1px solid #eeeeee;
     }
.red{
     width:270px;
	 height:180px;
	 float:left;
     border:1px solid #eeeeee;
    }
.jiepai{
    width:270px;
	height:180px;
	float:left;
    margin-right:12px;
    margin-top:6px;
    border:1px solid #eeeeee;
      }
.aibu{
     width:270px;
	 height:180px;
	 float:left;
     margin-top:6px;
     border:1px solid #eeeeee;
     }
/*#yaod{ 
	float:left;
    margin-right:12px;
    border:1px solid #eeeeee;
     }
#red{ 
	 float:left;
     border:1px solid #eeeeee;
    }
#jiepai{ 
	float:left;
    margin-right:12px;
    margin-top:6px;
    border:1px solid #eeeeee;
      }
#aibu{ 
	 float:left;
     margin-top:6px;
     border:1px solid #eeeeee;
     }*/
/*银泰卡*/                    		 		   		   
.yintaika{
	       width:1199px;   
           height:169px;
	       margin-left:auto;
           margin-right:auto;           		 		   		   		   
		   margin-top:34px;
		   border-left:1px solid #eeeeee;
		   border-top:1px solid #eeeeee;
		  }		  
#yintaika{
	       width:399px;   
           height:168px;	       		   
		   border-right:1px solid #eeeeee;
		   border-bottom:1px solid #eeeeee;
		   float:left;
		  }
#ytkleft{
	     margin-left:60px;	
         float:left;
         margin-top:3px;
         }
#ytkright{
	     margin-left:27px;	
         float:left;
         margin-top:47px;
         }
#ytkcenter{
	       width:128px;   
           height:27px;	      
           margin-left:27px;	
           float:left;          
          }
#yinka{
	  font-size:14px; 
      color:#323232;
	  float:left
	  }
#goumai{
	   color:#ffffff; 
       font-size:12px;
       float:left;
       width:60px;   
       height:25px;
	   background:#333333;
	   margin-left:27px;
	   border:none;
}	  
#da{
	       width:398px;   
           height:168px;	       		   
		   border-right:1px solid #eeeeee;
		   border-bottom:1px solid #eeeeee;
		   float:left;
		}
#dat{ 
	   margin-left:40px;	
       float:left;
       margin-top:3px;
       }		   
#yintainv{ 
	       width:399px;   
           height:168px;	       		   
		   border-right:1px solid #eeeeee;
		   border-bottom:1px solid #eeeeee;
		   float:left;
		 }		  
/*di*/
.di{
	       width:1198px;   
           height:92px;
	       margin-left:auto;
           margin-right:auto;           		 		   		   
		   background:pink;
		   margin-top:55px;
		   border-left:1px solid #eeeeee;
		   border-top:1px solid #eeeeee;
		}
#ditu{
	       width:100%;   
           height:92px;
       }
.ditop{
	   width:880px;
       height:36px;
	   margin-top:26px;
	   text-align:center;
	   margin-left:auto;
	   margin-right:auto;
	   line-height:36px;
	  }
#ditop{
	   font-size:12px;
       color:#666666;
	   }
.dicenter{
	   width:560px;
       height:30px;	   
	   text-align:center;
	   margin-left:auto;
	   margin-right:auto;
	   line-height:36px;
	   font-size:12px;
	   color:#b2b2b2;
	   }
.dicenterx{
	   width:230px;
       height:30px;	   
	   text-align:center;
	   margin-left:auto;
	   margin-right:auto;
	   line-height:36px;
	   font-size:12px;
	   color:#b2b2b2;
	   }
.dixia{
	   width:400px;
       height:55px;
	   margin-left:auto;
	   margin-right:auto;
       margin-top:15px;
       }
#dixia{ 
	   float:left;
	   margin-left:27px;	     
}
/*cemian*/
.cemian{
	    width:50px;
        height:600px; 		
		position:fixed;
		right:0;
		top:50px;
		display: none;
		
		}
		
.cemianlis{margin-top:5px;}		
/*固定*/
#guding{
	  width:50px;
      height:545px;
      position:fixed;
      right:15px;
      top:150px;
      background: url(../images/guding.png) no-repeat 0 0;
      display: none;
      cursor: pointer;
}

#guding li{
	width: 30px;
	height: 30px;
	margin-bottom: 5px;
	padding: 5px 10px 15px;
	font-size: 14px;
	color: #666;	
	line-height: 10000px;
}
#guding li.active{
	background-image:none;
	background: #e5004f;
	color:#fff;
	line-height: 20px;
}		








